            <div class="container">
              <div class="columns">
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/contact">Contact</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-info">
                    <p class="is-size-5">
                      About
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                     <a href="/blogpost">Blogposts</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/gallery">Gallery</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/guestbook">Guestbook</a>
                    </p>
                  </div>
                </div>
              </div>
            </div> 
              </div>
            </div>             
             
<section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
              <p class="is-size-3">About </p>
        <p class="is-size-5">
            Hi my name is Oskar Svensson and I am the creator of this site. The site was created as part of a project
            in a class about web-development. The idea behind it was to learn basics around how the web works and how to create
            simple websites.  </p>
    </div>
    <div class="column"> <img src="8C7056CE-3C23-4108-95EF-F87BFDBBAB93 (2).jpg" alt="picture of me">  </div>
        </div>
    </div>
</section>

