            <div class="container">
                
              <div class="columns">
                <div class="column">
                  <div class="notification is-info">
                    <p class="is-size-5">
                      Contact
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                     <a href="/about">About</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                     <a href="/blogpost">Blogposts</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/gallery">Gallery</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/guestbook">Guestbook</a>
                    </p>
                  </div>
                </div>
              </div>
            </div> 
              </div>
            </div>
          
          <section class="section">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <p class="is-size-5"> Here is some contact information about Oskar Svensson, enjoy!
                      <ul>
                          <li> <strong>Name :</strong>  Oskar Svensson</li>
                          <li> <strong>Occupation :</strong> Student </li>
                          <li><strong>Phone number :</strong> 0722319103</li>
                          <li><strong>Email :</strong> osksvn@outlook.com</li>
                      </ul> 
                  </p>
                  
                  <p><strong>Social Media</strong> </p>
                  <p class="span">
                    <figure class="span">
                        <a href="https://www.instagram.com/oskarsvn/?hl=sv">
                            <i class="fab fa-instagram fa-5x"></i></a>
                            <a href="https://www.facebook.com/ATTAMANNET">
                                <i class="fab fa-facebook-square fa-5x"></i></a>
                        </figure>

                  </p>
                </div>
                    <div class="column">
                  <p class="is-size-5">
                        <figure class="image is-pulled-right">
                            <img src="8C7056CE-3C23-4108-95EF-F87BFDBBAB93 (2).jpg" style="max-width: 256px" alt="picture of me" >
                        </figure>
                      </p>
                    </div>
                  </div>
                </div>
          </section>