<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/portfolio">Gallery</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>


  <section class="section">
      <div class="container">
          <p class="is-size-3 center"> Guestbook entry has been made!</p>

          </div>
      </div>
  </section>