            <div class="container">
              <div class="columns">
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/contact">Contact</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                     <a href="/about">About</a> 
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/blogpost">Blogposts</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/gallery">Gallery</a>
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="notification is-primary">
                    <p class="is-size-5">
                      <a href="/guestbook">Guestbook</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>             
             
              <section class="section">
            <div class="container">
                <div class="columns">
                  <div class="column is-two-thirds">
                  <p class="is-size-5"> Welcome to Oskar Svenssons website, a website about Oskar Svensson. 
                  </p>
                </div>
              
                <div class="column">
                  <p class="is-size-5">
                        <figure class="image is-pulled-right">
                            <img src="8C7056CE-3C23-4108-95EF-F87BFDBBAB93 (2).jpg" style="max-width: 350px" alt="picture of me" > 
                        </figure>
                      </p>
                  </div>
                </div>
              </div>
          </section>
