<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/gallery">Gallery</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/guestbook">Guestbook</a> 
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>

<form method="POST" action="/login">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="container has-text-centered">
              {{#if wrong}} <p>Wrong username or password</p> {{/if}}
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Your username" autofocus="" name="em">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password" name="pw">
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" value="login">Login</button>
                    </div>
                </div>
            </div> 
</form>
