<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-info">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/gallery">Portfolio</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
          <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>

 <form action="/submitBlogpost" method="POST">
<div class="container">
        <div class="field">
            <label class="label">New blogpost</label>
                <div class="control">
                        <textarea class="input" id="titel" placeholder="Titel.." name="title"></textarea>
                </div>
        </div>
        <div class="field">
        <div class="control">
            <textarea class="textarea" id="blogpost" placeholder="Blogpost.." name="blogpost"></textarea>
        </div>
    </div>
        <div class="control">
    <button class="button is-info"> Submit</button>
        </div>
        </div>
</form>

