<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/gallery">Gallery</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>
<form ref="uploadForm" 
      id="uploadForm"
      action="/galleryEntry"
      method="POST"
      enctype="multipart/form-data">
         <div class="section">
           <div class="container">
             <div class="column notification is-dark">
               <p class="notification is-info">Choose a picture to upload to the gallery</p>
          <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" /> 
          <input type="submit" value="upload"  />
             </div>
           </div>
         </div>
          </form>
  <!--
  <div class="container">

    <div class="columns">
        <div class="column">
        <div class="control">
    <button class="button is-info"> Submit</button>
        </div>
        </div>
        <div class="column">
        <div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="Image">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose an image..
      </span>
    </span>
  </label>
</div>
        </div>
  </div>
  </div>
</form>

-->